* {
     /*flex-shrink: 0;*/
     min-width: 0px;
     min-height: 0px;
}

/*
html, body, .layout-container {
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: space-evenly;
}
*/

.layout-container, .layout-row {
    display: flex;
    justify-content: space-evenly;
}

.layout-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.layout-scrollable {
    overflow-y: scroll;
    /* https://stackoverflow.com/questions/33601165/scrolling-slow-on-mobile-ios-when-using-overflowscroll */
    -webkit-overflow-scrolling: touch;

}

.layout-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.layout-expandable {
  flex-grow: 1;
}

.layout-compressible {
  flex-shrink: 1;
}

.layout-wrap {
  flex-wrap: wrap;
}

.layout-justify-start {
    justify-content: start;
}

.layout-justify-center {
    justify-content: center;
}

.layout-align-center {
    align-items: center;
}

.layout-align-self-center {
    align-self: center;
}

.layout-align-self-end {
  align-self: flex-end;
}
